@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@400;700&display=swap');
@import "custom";


body{
    font-family: var(--font-primary);
}

button.no-style{
    background: transparent;
    border: none;
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: var(--light-color);
    }
}

.form-control{
    &:focus{
        border-color:none;
        box-shadow: none;
    }
}

.font-primary{
    font-family: var(--font-primary);
}

.font-secondary{
    font-family: var(--font-secondary);

}

// MAIN NAVBAR
.main-navbar{

    .navbar-brand{
        color: var(--light-color);
    }

    .nav-link{
        color: var(--light-color);
        &:hover,
        &:focus{
            text-decoration: underline;
            color: var(--light-color);
        }
    }

    // form search
    .form-search{
        position: relative;

        &__form-control{
            padding-right: 38px;
            border-radius: 0 !important;
        }

        &__button{
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            background-color: var(--light-color);
            width: 38px;
            height: 38px;

            svg{
                color: var(--dark-color);
            }
        }
    }

    &__favorite{
        background: none;
        border: none;
        position: relative;

        .badge{
            border-radius: 9999px;
            position: absolute;
            top: 0;
            right: -8px;
            width: 22px;
            height: 22px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    .navbar-toggler{
        border-color: transparent;
        &:focus{
            box-shadow: none;
        }
    }

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
}

// SECONDARY NAVBAR
.secondary-navbar{
    margin-top: 100px;

    .nav-link{
        color: var(--dark-color);
        padding: 0;
        margin-right: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;

        &:hover{
            text-decoration: underline;
        }

        svg{
            margin-right: 4px;
        }
    }
}

// BREADCRUMB
.breadcrumb{
    a{
        color: var(--dark-color);
        text-decoration: none;
    }
}

// HOMEPAGE CARD
.homepage-card{
    border-radius: 0;
    border: 1px solid var(--light-color);
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover{
        border: 1px solid var(--neutral-color);
    }

    &__image-container{
        position: relative;
        overflow: hidden;
    }

    &__image{
        height: 380px;
        object-fit: cover;
        transition: all 0.2s ease-out;
    }

    &__new{
        position: absolute;
        z-index: 1;
        top: 4px;
        left: 4px;
        padding: 10px 20px;
        letter-spacing: 0.2em;
    }

    &__discounts{
        position: absolute;
        z-index: 1;
        bottom: 4px;
        left: 4px;
        right: 4px;
        padding: 4px;
        display: flex;

        .badge{
            border: 2px dashed var(--neutral-color-2);
            margin-right: 4px;
            font-weight: 400;
            border-radius: 0;
        }
    }

}


// FOOTER
 footer{
    .text-secondary{
        font-size: 14px;
        font-family: var(--font-secondary);
        line-height: 2em;
    }

    .app-store,
    .play-store{
        width: 150px;
    }
 }

//  SOCIAL MEDIA
.social-media{
    svg{
        color: var(--neutral-color);
        cursor: pointer;

        &:hover{
            color: var(--light-color);
        }
    }
}

// SCROLL BUTTON


.scroll-button{
    background: var(--primary-color);
    border: none;
    position: fixed; 
   width: 40px;
   height: 40px;
   right: 40px;
   bottom: 40px;
   z-index: 1;
   cursor: pointer;
   color: var(--light-color);
}
