// change this file to update the bootsrap default style

$theme-colors: (
    "warning": #FE9428,
    "danger": #E5493E,
    "dark": black,
    "secondary": #B9B9B9,
    "light": #FFFFFF,
);


:root{
    --primary-color: #E5493E;
    --secondary-color: #5787A3;
    --tertiary-color: #FE9428;
    --neutral-color: #B9B9B9;
    --neutral-color-2: #787878;
    --dark-color: #252B2B;
    --light-color: #FFFFFF;
    --main-background-color: #38495D;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Merriweather', serif;
}

$pagination-color:                  var(--neutral-color-2);
$pagination-bg:                     var(--light-color) !default;
$pagination-border-radius:          0 !default;
$pagination-border-color:           var(--dark-color) !default;

$pagination-focus-color:            var(--light-color) !default;
$pagination-focus-bg:               var(--dark-color) !default;
$pagination-focus-box-shadow:       none !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            var(--light-color) !default;
$pagination-hover-bg:               var(--dark-color) !default;
$pagination-hover-border-color:     var(--dark-color) !default;

$pagination-active-color:           var(--light-color) !default;
$pagination-active-bg:              var(--dark-color) !default;
$pagination-active-border-color:    var(--dark-color) !default;

$input-border-radius: 0;
$border-radius: 0 !default;

@import "~bootstrap/scss/bootstrap";

